
 * {
    box-sizing: border-box;
    text-align: center;
 
  }
  
  body {

    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin-left: 150px
    

  }
  
  header {
    padding: 20px;
    margin-bottom: 10px;
    color: #777;
    background: #ebebeb;
  
}

  #nav {
    padding: 20px;
    margin-bottom: 20px;
    color: #777;
    background: #ebebeb;    
  }
  
  #article {
    padding: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #ebebeb;
    background: #777; 
    width: 450px;
    height: 220px;
}
 
  #section {
    padding: 20px;
    margin-bottom: 10px;
    color: #777;
    background: #ebebeb; 
    width: 495px;
    height: 300px;
    float: left
  }

  #tripleh {
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;
    color: #777;
    background: #ebebeb; 
    width: 385px;
    font-weight: bold;
    height: auto;
  }
  
  #p {
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 20px;
    color: #777;
    background: #ebebeb; 
    width: 385px;
    height: auto;
}

  #aside {
    padding: 50px;
    margin-bottom: 20px;
    color: #777;
    background: #ebebeb;
    height: 300px;
    width: 456px; 
    float: right;
}
  
  footer {
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
    color: #777;
    background: #ebebeb; 
    height: 80px;
    clear: both;
    }